In [1]:
import pandas as pd

# Task1

In [2]:
def range_series(start = 1, end = 10):
    return pd.Series(list(range(start, end + 1)))

In [3]:
range_series()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
range_series(5)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [5]:
range_series(5,15)

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
dtype: int64

# Task-2

In [6]:
def create_dataframe(keys, values):
    data_dict = { keys[index]: values[index] for index in range(0, len(keys)) }
    return pd.DataFrame(data_dict)

create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]])

  One Two
0   X   A
1   Y   B

# Task-3

In [7]:
def concat_data_frames(df1, df2):
    return pd.concat([df1, df2]).reset_index(drop=True)

concat_data_frames(
    create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]),
    create_dataframe(["One", "Two"], [["V", "W"], ["C", "D"]])
)

  One Two
0   X   A
1   Y   B
2   V   C
3   W   D

# Task-4

In [8]:
cars_df = pd.read_csv('cars.csv')
cars_df.describe()

,Risk_factor,Wheel_base,Length,Width,Height,Curb_weight,Engine_size,Compression_ratio,mpg,Highway_mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

# Task-5

In [9]:
def get_max_correlated_column(col_name):
    cars_df = pd.read_csv('cars.csv')
    correlation_matrix = cars_df.corr()
    return correlation_matrix[col_name].sort_values(ascending=False).index[1]

In [10]:
get_max_correlated_column('mpg')

'Highway_mpg'