# Program-1

In [1]:
# concatenation of two tuple
tupe_1 = (10,20,30)
tupe_2 = (40,50,60)
t_combine = tupe_1+tupe_2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [2]:
# Repeating tuple 3times
print(t_combine*3)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [3]:
# Accessing third element of t_combine
t_combine[2]

30

In [4]:
# Accessing firts three elements of t_combine
t_combine[0:3]

(10, 20, 30)

In [5]:
# Accessing last three elements of T_combine
#t_combine[-4:-1]
t_combine[3:]

(40, 50, 60)

In [10]:
# Accessing last three elements of T_combine using negative indexing
t_combine[-3:]

(40, 50, 60)

# Program-2

In [18]:
#Creating first element of list
tupe = (1,2,3)
my_list = []
my_list.insert(0,tupe)
print("First element of my_list is: ",my_list)

First element of my_list is:  [(1, 2, 3)]

In [20]:
#Creating secong element of list
tupe2 = ("a","b","c")
my_list.insert(1,tupe2)
print("First two element of my_list is: ",my_list)

First two element of my_list is:  [(1, 2, 3), ('a', 'b', 'c')]

In [22]:
#Creating third element of list
tupe3 = (True,False)
my_list.insert(2,tupe3)
print("First three element of my_list is: ",my_list)

First three element of my_list is:  [(1, 2, 3), ('a', 'b', 'c'), (True, False), ('True', 'False')]

# Program-3

In [24]:
# Appending new tuple in my_list
tupe4 = (1,'a',True)
my_list.append(tupe4)
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), ('True', 'False'), (1, 'a', True)]

In [25]:
# Appending new tuple in my_list
tupe5 = ("sparta",123)
my_list.append(tupe5)
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), ('True', 'False'), (1, 'a', True), ('sparta', 123)]

# Program-4

In [39]:
# Creating first and second element of dictionary
fruit = {
    'Fruit': ('Apple','Banana','Mango','Guava'),
    'Cost':(85,54,120,70)
}
print(fruit)

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

In [40]:
# Extrat all keys from fruit
fruit.keys()

dict_keys(['Fruit', 'Cost'])

In [41]:
# Extract all values from fruit
fruit.values()

dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

# Program-5

In [42]:
# Creating set
my_set = {1,1,"a","a",True,True}
print(my_set)

{1, 'a'}